{% extends 'base.html' %}
{% block content %}

<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Table</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item">Informasi</div>
      </div>
    </div>

    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Data Informasi</h4>
              <div class="card-header-action">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Username</th>
                      <th scope="col">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in user %}
                    <tr>
                      <td>{{ user.username }}</td>
                      <td>{{ user.password }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a href="{% url 'tambah_informasi' %}" class="btn btn-primary">Tambah</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>

{% endblock %}