{% extends 'base.html' %}
{% block content %}

<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Table</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="#">Components</a></div>
        <div class="breadcrumb-item">Table</div>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Table</h2>
      <p class="section-lead">Example of some Bootstrap table components.</p>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Sortable Table</h4>
              <div class="card-header-action">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">nama</th>
                      <th scope="col">unsur</th>
                      <th scope="col">alamat</th>
                      <th scope="col">desa</th>
                      <th scope="col">kecamatan</th>
                      <th scope="col">kabupaten</th>
                      <th scope="col">Opsi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ormas in ormas %}
                    <tr>
                      <td>{{ ormas.nama }}</td>
                      <td>{{ ormas.unsur }}</td>
                      <td>{{ ormas.alamat }}</td>
                      <td>{{ ormas.desa }}</td>
                      <td>{{ ormas.kecamatan }}</td>
                      <td>{{ ormas.kabupaten }}</td>
                      <td>
                        <a href="{% url 'edit_ormas' ormas.id %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'hapus_ormas' ormas.id %}" class="btn btn-danger">Hapus</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a href="{% url 'tambah_ormas' %}" class="btn btn-primary">Tambah</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>
</section>

</main><!-- End #main -->

{% endblock %}