{% extends 'base.html' %}
{% block content %}

<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Table</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="#">Tables</a></div>
        <div class="breadcrumb-item">Data Ormas</div>
      </div>
    </div>

    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Data Ormas</h4>
              <div class="card-header-action">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" id="myInput" placeholder="Search">
                    <div class="input-group-btn">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">nama</th>
                      <th scope="col">unsur</th>
                      <th scope="col">alamat</th>
                      <th scope="col">desa</th>
                      <th scope="col">kecamatan</th>
                      <th scope="col">kabupaten</th>
                      <th scope="col">Status</th>
                      <th scope="col">Opsi</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    {% for ormas in ormas %}
                    <tr>
                      <td>{{ ormas.nama }}</td>
                      <td>{{ ormas.unsur }}</td>
                      <td>{{ ormas.alamat }}</td>
                      <td>{{ ormas.desa }}</td>
                      <td>{{ ormas.kecamatan }}</td>
                      <td>{{ ormas.kabupaten }}</td>
                      <td>{{ ormas.action }}</td>
                      <td>
                        <a href="{% url 'edit_ormas' ormas.id %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'hapus_ormas' ormas.id %}" class="btn btn-danger">Hapus</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="container">
                <a href="{% url 'tambah_ormas' %}" class="btn btn-primary">Tambah</a>
                <hr>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Data Ormas</h4>
              <div class="card-header-action">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" id="myInput" placeholder="Search">
                    <div class="input-group-btn">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">nama</th>
                      <th scope="col">unsur</th>
                      <th scope="col">alamat</th>
                      <th scope="col">desa</th>
                      <th scope="col">kecamatan</th>
                      <th scope="col">kabupaten</th>
                      <th scope="col">Opsi</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    {% for unverormas in unverormas %}
                    <tr>
                      <td>{{ unverormas.nama }}</td>
                      <td>{{ unverormas.unsur }}</td>
                      <td>{{ unverormas.alamat }}</td>
                      <td>{{ unverormas.desa }}</td>
                      <td>{{ unverormas.kecamatan }}</td>
                      <td>{{ unverormas.kabupaten }}</td>
                      <td>
                        <a href="{% url 'edit_ormas' unverormas.id %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'hapus_ormas' unverormas.id %}" class="btn btn-danger">Hapus</a>
                        <a href="{% url 'verifikasi_ormas' unverormas.id %}" class="btn btn-success">Verfikasi</a>
                        <!-- <form action="{% url 'verifikasi_ormas' unverormas.id %}" method="post"
                          enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button class="btn btn-dark">Verifikasi</button>
                        </form> -->
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="container">
                <a href="{% url 'tambah_ormas' %}" class="btn btn-primary">Tambah</a>
                <hr>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>

{% endblock %}