{% extends 'index.html' %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'kabupaten' %}">Data Kabupaten</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Kabupaten</th>
                    <th scope="col">Opsi</th>
                  </tr>
                </thead>
                <tbody>
                    {% for kabupaten in kabupaten %}
                  <tr>
                    <td>{{ kabupaten.kabupaten }}</td>
                    <td>
                      <a href="{% url 'edit_kabupaten' kabupaten.id %}" class="btn btn-secondary">Edit</a>
                      <a href="{% url 'hapus_kabupaten' kabupaten.id %}" class="btn btn-danger">Hapus</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
              <a href="{% url 'tambah_kabupaten' %}" class="btn btn-primary">Tambah</a>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}