{% extends 'index.html' %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'kecamatan' %}">Data Kecamatan</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Kecamatan</th>
                    <th scope="col">Opsi</th>
                  </tr>
                </thead>
                <tbody>
                    {% for kecamatan in kecamatan %}
                  <tr>
                    <td>{{ kecamatan.kecamatan}}</td>
                    <td>
                      <a href="{% url 'edit_kecamatan' kecamatan.id %}" class="btn btn-secondary">Edit</a>
                      <a href="{% url 'hapus_kecamatan' kecamatan.id %}" class="btn btn-danger">Hapus</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
              <a href="{% url 'tambah_kecamatan' %}" class="btn btn-primary">Tambah</a>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}