{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Tambah Galeri</h1>
        </div>

        <div class="section-body">
            <h2 class="section-title">Tambah Galeri</h2>
            <p class="section-lead">Management Galeri</p>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <main id="main" class="main">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        {% if alert %}
                                        <div class="alert alert-success">{{ alert }}</div>
                                        {% endif %}
                                        <form action="/tambah_galeri/" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button class="btn btn-dark">Upload</button>
                                            <a href="{% url 'galeri' %}" class="btn btn-danger">Kembali</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}