{% extends 'index.html' %}

{% block content %}

<main id="main" class="main">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tambah</h5>
            {% if alert %}
            <div class="alert alert-success">{{ alert }}</div>
            {% endif %}
            <form action="/tambah_galeri/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Tambah Genre</button>
            <a href="/tambah_galeri" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>
</main>

{% endblock %}