{% extends 'index.html' %} {% block content %}
<div class="container container-box">
  <h1 class="text-center mb-4">Data Tabel Ormas</h1>
  <div class="shadow p-3 mb-5 mx-3 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">e-Ormas</h5>
      <div class="card-body p-0">
        <form>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="myInput"
              placeholder="Search"
            />
            <div class="input-group-btn"></div>
          </div>
        </form>
        <br />
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">nama</th>
                <th scope="col">Jenis Organisasi</th>
                <th scope="col">alamat</th>
                <th scope="col">desa</th>
                <th scope="col">kecamatan</th>
                <th scope="col">kabupaten</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% for ormas in ormas %}
              <tr>
                <td>{{ ormas.nama }}</td>
                <td>{{ ormas.unsur }}</td>
                <td>{{ ormas.alamat }}</td>
                <td>{{ ormas.desa }}</td>
                <td>{{ ormas.kecamatan }}</td>
                <td>{{ ormas.kabupaten }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="ver-col justify-content-between">
    <div class="shadow p-3 mb-5 mx-3 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">e-Ormas</h5>
        <div class="card-body p-0">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="myInput"
                placeholder="Search"
              />
              <div class="input-group-btn"></div>
            </div>
          </form>
          <br />
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Unsur</th>
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
              <tbody id="myTable">
                {% for ormasuns in ormasuns %}
                <tr>
                  <td>{{ ormasuns.unsur }}</td>
                  <td>{{ ormasuns.jumlah }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow p-3 mb-5 mx-3 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">e-Ormas</h5>
        <div class="card-body p-0">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="myInput"
                placeholder="Search"
              />
              <div class="input-group-btn"></div>
            </div>
          </form>
          <br />
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Desa</th>
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
              <tbody id="myTable">
                {% for ormasds in ormasds %}
                <tr>
                  <td>{{ ormasds.desa }}</td>
                  <td>{{ ormasds.jumlah }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow p-3 mb-5 mx-3 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">e-Ormas</h5>
        <div class="card-body p-0">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="myInput"
                placeholder="Search"
              />
              <div class="input-group-btn"></div>
            </div>
          </form>
          <br />
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Kecamatan</th>
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
              <tbody id="myTable">
                {% for ormaskec in ormaskec %}
                <tr>
                  <td>{{ ormaskec.kecamatan }}</td>
                  <td>{{ ormaskec.jumlah }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow p-3 mb-5 mx-3 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">e-Ormas</h5>
        <div class="card-body p-0">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="myInput"
                placeholder="Search"
              />
              <div class="input-group-btn"></div>
            </div>
          </form>
          <br />
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Kabupaten</th>
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
              <tbody id="myTable">
                {% for ormaskab in ormaskab %}
                <tr>
                  <td>{{ ormaskab.kabupaten }}</td>
                  <td>{{ ormaskab.jumlah }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
