{% extends 'index.html' %}
{% block content %}

<div class="container container-box">
  <h1 class="text-center mb-4">Galeri Ormas</h1>
  <div class="row">
    {% for galeri in galeri %}
    <div class="col-lg-4">
      <div class="galeri-box">
            <div class="galeri">
              {% if galeri.image %}
                <div class="bi-pic p-3">
                  <img src="{{ galeri.image.url }}" class=" gmbr w-100 shadow-1-strong" alt="">
                </div>
              {% endif %}
              <div class="bi-text p-4">
                <h4>{{ galeri.judul }}</h4>
                <p>{{ galeri.caption }}</p> 
              </div>
            </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div><br><br><br>
  <!-- Blog Section End -->



{% endblock %}