{% extends 'index.html' %}
{% block content %}

    <!-- Blog Section Begin -->
<section class="blog-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 order-1 order-lg-2">
        <div class="row">
          {% for galeri in galeri %}
            <div class="col-lg-4 col-sm-4">
              <div class="blog-item " style="width: 22rem;">
                {% if galeri.image %}
                  <div class="bi-pic">
                    <img src="{{ galeri.image.url }}" alt="">
                  </div>
                {% endif %}
                  <div class="bi-text">
                    <h4>{{ galeri.judul }}</h4>
                    <p>{{ galeri.caption }}</p>
                  </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- Blog Section End -->

{% endblock %}