{% extends 'index.html' %}
{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
      <div class="hero-items owl-carousel">
          <div class="single-hero-items set-bg" data-setbg="/media/image/683138.jpg">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-5">
                          <h1>Black friday</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Hero Section End -->
<div class="container">
<div class="card">
    <div class="card-header">
      Selamat Datang
    </div>
    <div class="card-body">
      <h5 class="card-title">e-Ormas</h5>
      <p class="card-text">e-Ormas adalah aplikasi yang digunakan sebagai media atau basis data informasi Organisasi dan Lembaga Masayarakat pada Badan Kesatuan Bangsa dan Politik Dalam Negeri Pemerintah Kabupaten Madiun. Organisasi Kemasyarakatan yang selanjutnya disebut ORMAS adalah organisasi yang didirikan dan dibentuk oleh masyarakat secara sukarela berdasarkan kesamaan aspirasi, kehendak, kebutuhan, kepentingan, kegiatan, dan tujuan untuk berpartisipasi dalam pembangunan demi tercapainya tujuan Negara Kesatuan Republik Indonesia yang berdasarkan Pancasila.</p>
      <p class="card-text">Tujuan Ormas :</p>
      <ol type="A">
        <li>Meningkatkan Partisipasi Dan Keberdayaan Masyarakat;</li>
        <li>Memberikan Pelayanan Kepada Masyarakat;</li>
        <li>Menjaga Nilai Agama Dan Kepercayaan Terhadap Tuhan Yang Maha Esa;</li>
        <li>Melestarikan Dan Memelihara Norma, Nilai, Moral, Etika, Dan Budaya Yang Hidup Dalam Masyarakat;</li>
        <li>Melestarikan Sumber Daya Alam Dan Lingkungan Hidup;</li>
        <li>Mengembangkan Kesetiakawanan Sosial, Gotong Royong, Dan Toleransi Dalam Kehidupan Bermasyarakat;</li>
        <li>Menjaga, Memelihara, Dan Memperkuat Persatuan Dan Kesatuan Bangsa; Dan</li>
        <li>Mewujudkan Tujuan Negara.</li>
      </ol>
      <p class="card-text">Hak Ormas :</p>
      <ol type="A">
        <li>Mengatur Dan Mengurus Rumah Tangga Organisasi Secara Mandiri Dan Terbuka;</li>
        <li>Memperoleh Hak Atas Kekayaan Intelektual Untuk Nama Dan Lambang Ormas Sesuai Dengan Ketentuan Peraturan Perundang-Undangan;</li>
        <li>Memperjuangkan Cita-Cita Dan Tujuan Organisasi;</li>
        <li>Melaksanakan Kegiatan Untuk Mencapai Tujuan Organisasi;</li>
        <li>Mendapatkan Perlindungan Hukum Terhadap Keberadaan Dan Kegiatan Organisasi;</li>
        <li>Melakukan Kerja Sama Dengan Pemerintah, Pemerintah Daerah, Swasta, Ormas Lain, Dan Pihak Lain Dalam Rangka Pengembangan Dan Keberlanjutan Organisasi.</li>
      </ol>
      <p class="card-text">Kewajiban Ormas :</p>
      <ol type="A">
        <li>Melaksanakan Kegiatan Sesuai Dengan Tujuan Organisasi;</li>
        <li>Menjaga Persatuan Dan Kesatuan Bangsa Serta Keutuhan Negara Kesatuan Republik Indonesia;</li>
        <li>Memelihara Nilai Agama, Budaya, Moral, Etika, Dan Norma Kesusilaan Serta Memberikan Manfaat Untuk Masyarakat;</li>
        <li>Menjaga Ketertiban Umum Dan Terciptanya Kedamaian Dalam Masyarakat;</li>
        <li>Melakukan Pengelolaan Keuangan Secara Transparan Dan Akuntabel; Berpartisipasi Dalam Pencapaian Tujuan Negara.</li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}