{% extends 'index.html' %}
{% block content %}
<div class="running-text bg-warning">
  <marquee direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    {% for informasi in informasi %}
    {{ informasi.informasi}}-{{ informasi.tanggal }} <span style="color:red">|</span>
    {% endfor %}
    </marquee>
</div>
    <div class="konten">
      <div class="isi-konten">
        <div class="main-desc my-4 p-4">
            <h1>E-Ormas</h1>
            <p>e-Ormas adalah aplikasi yang digunakan sebagai media atau basis data informasi Organisasi dan Lembaga Masayarakat pada Badan Kesatuan Bangsa dan Politik Dalam Negeri Pemerintah Kabupaten Madiun. Organisasi Kemasyarakatan yang selanjutnya disebut ORMAS adalah organisasi yang didirikan dan dibentuk oleh masyarakat secara sukarela berdasarkan kesamaan aspirasi, kehendak, kebutuhan, kepentingan, kegiatan, dan tujuan untuk berpartisipasi dalam pembangunan demi tercapainya tujuan Negara Kesatuan Republik Indonesia yang berdasarkan Pancasila.</p>
        </div>
      </div>
        <div class="desc-box">
            <div class="desc">
                <div class="row justify-content-center">
                  <div class="boxs">
                    <div class="row justify-content-center">
                      <div class="col-lg-5 mb-4">
                          <div class="desc-content">
                              <div class="desc-title">
                                  <h3>Tujuan Ormas</h3>
                              </div>
                              <div class="desc-text text-justify">
                                      <p>Meningkatkan Partisipasi Dan Keberdayaan Masyarakat;</p>
                                      <p>Memberikan Pelayanan Kepada Masyarakat;</p>
                                      <p>Menjaga Nilai Agama Dan Kepercayaan Terhadap Tuhan Yang Maha Esa;</p>
                                      <p>Melestarikan Dan Memelihara Norma, Nilai, Moral, Etika, Dan Budaya Yang Hidup Dalam Masyarakat;</p>
                                      <p>Melestarikan Sumber Daya Alam Dan Lingkungan Hidup;</p>
                                      <p>Mengembangkan Kesetiakawanan Sosial, Gotong Royong, Dan Toleransi Dalam Kehidupan Bermasyarakat;</p>
                                      <p>Menjaga, Memelihara, Dan Memperkuat Persatuan Dan Kesatuan Bangsa; Dan</p>
                                      <p>Mewujudkan Tujuan Negara.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-5 mb-4">
                          <img src="static/img/clip-politician-1.png" class="d-block w-100 gambar" alt="...">
                      </div>
                    </div>
                  </div>
                    <div class="col-lg-5 mt-4">
                        <div class="box mt-4">
                            <div class="description-title text-center">
                                <h3>Hak Ormas</h3>
                            </div>
                            <div class="description-text mx-4">
                              <p>Mengatur Dan Mengurus Rumah Tangga Organisasi Secara Mandiri Dan Terbuka;</p>
                              <p>Memperoleh Hak Atas Kekayaan Intelektual Untuk Nama Dan Lambang Ormas Sesuai Dengan Ketentuan Peraturan Perundang-Undangan;</p>
                              <p>Memperjuangkan Cita-Cita Dan Tujuan Organisasi;</p>
                              <p>Melaksanakan Kegiatan Untuk Mencapai Tujuan Organisasi;</p>
                              <p>Mendapatkan Perlindungan Hukum Terhadap Keberadaan Dan Kegiatan Organisasi;</p>
                              <p>Melakukan Kerja Sama Dengan Pemerintah, Pemerintah Daerah, Swasta, Ormas Lain, Dan Pihak Lain Dalam Rangka Pengembangan Dan Keberlanjutan Organisasi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mt-4">
                        <div class="box mt-4">
                            <div class="description-title text-center">
                                <h3>Kewajiban Ormas</h3>
                            </div>
                            <div class="description-text mx-4">
                              <p>Melaksanakan Kegiatan Sesuai Dengan Tujuan Organisasi;</p>
                              <p>Menjaga Persatuan Dan Kesatuan Bangsa Serta Keutuhan Negara Kesatuan Republik Indonesia;</p>
                              <p>Memelihara Nilai Agama, Budaya, Moral, Etika, Dan Norma Kesusilaan Serta Memberikan Manfaat Untuk Masyarakat;</p>
                              <p>Menjaga Ketertiban Umum Dan Terciptanya Kedamaian Dalam Masyarakat;</p>
                              <p>Melakukan Pengelolaan Keuangan Secara Transparan Dan Akuntabel; Berpartisipasi Dalam Pencapaian Tujuan Negara.</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}