{% extends "userard.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="card">
    <div class="box p-4">
    <div class="row justify-content-center">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" id="reqForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
            <div class="form-row justify-content-left">
                {% comment %} <div class="col-md-8">
                    <div class="tab"> {% endcomment %}
                        {% comment %} <h1>Data Kelengkapan Ormas</h1>
                        <br> {% endcomment %}
                        <label class="my-2"><b>Username:</b></label>
                            {{ user_form.username }}
                        <label class="my-2"><b>Email:</b></label>
                            {{ user_form.email }}
                        <label class="my-2"><b>Nama Organisasi:</b></label>
                            {{ ormas.nama }}
                        <label class="my-2"><b>Jenis Organisasi:</b></label>
                            {{ ormas.unsur }}
                        <label class="my-2"><b>Bidang Kegiatan:</b></label>
                            {{ ormas.bidang }}
                    {% comment %} </div>
                    <div class="tab"> {% endcomment %}
                        {% comment %} <h1>Data Kelengkapan Ormas</h1>
                        <hr> {% endcomment %}
                        {{ ormas.user}}
                        <label class="my-2"><b>Alamat:</b></label>
                            {{ ormas.alamat }}
                        <label class="my-2"><b>Bukti Alamat:</b></label>
                            {{ ormas.buktiAlamat }}
                            {% comment %} <div class="row my-3 p-3">
                                <img class="rounded-circle account-img" src="{{ user.ormas.buktiAlamat.url }} " style="cursor: pointer;"/>
                            </div> {% endcomment %}
                        <label class="my-2"><b>Kelurahan:</b></label>
                            {{ ormas.desa }}
                        <label class="my-2"><b>Kecamatan:</b></label>
                            {{ ormas.kecamatan }}
                        <label class="my-2"><b>Kabupaten:</b></label>
                            {{ ormas.kabupaten }}
                    {% comment %} </div>
                    <div class="tab"> {% endcomment %}
                        {% comment %} <h1>Data Kelengkapan Ormas</h1>
                        <hr> {% endcomment %}
                        <label class="my-2"><b>Nama Notaris:</b></label>
                            {{ ormas.namaNotaris }}
                        <label class="my-2"><b>No Notaris:</b></label>
                            {{ ormas.noNotaris }}
                        <label class="my-2"><b>SK Terdaftar:</b></label>
                            {{ ormas.skTerdaftar }}
                        <label class="my-2"><b>Sk Pengurus:</b></label>
                            {{ ormas.skPengurus }}
                    {% comment %} </div>
                    <div class="tab"> {% endcomment %}
                        {% comment %} <h1>Biodata Ketua</h1>
                        <hr> {% endcomment %}
                        <label class="my-2"><b>Nama Ketua:</b></label>
                            {{ ormas.namaKetua }}
                        <label class="my-2"><b>Tempat/ Tgl lahir Ketua:</b></label>
                            {{ ormas.ttlKetua }}
                        <label class="my-2"><b>No Ketua:</b></label>
                            {{ ormas.noKetua }}
                        <label class="my-2"><b>Bukti identitas Ketua:</b></label>
                            {{ ormas.biodataKetua }}
                    {% comment %} </div>
                    <div class="tab"> {% endcomment %}
                        {% comment %} <h1>Biodata Sekretaris</h1>
                        <hr> {% endcomment %}
                        <label class="my-2"><b>Nama Sekretaris:</b></label>
                            {{ ormas.namaSekretaris }}
                        <label class="my-2"><b>Tempat/ Tgl lahir Sekretaris:</b></label>
                            {{ ormas.ttlSekretaris }}
                        <label class="my-2"><b>No Sekretaris:</b></label>
                            {{ ormas.noSekretaris }}
                        <label class="my-2"><b>Bukti identitas Sekretaris:</b></label>
                            {{ ormas.biodataSekretaris }}
                    {% comment %} </div>
                    <div class="tab"> {% endcomment %}
                        {% comment %} <h1>Biodata Bendahara</h1>
                        <hr> {% endcomment %}
                        <label class="my-2"><b>Nama Bendahara:</b></label>
                            {{ ormas.namaBendahara }}
                        <label class="my-2"><b>Tempat/ Tgl lahir Bendahara:</b></label>
                            {{ ormas.ttlBendahara }}
                        <label class="my-2"><b>No Bendahara:</b></label>
                            {{ ormas.noBendahara }}
                        <label class="my-2"><b>Bukti identitas Bendahara:</b></label>
                            {{ ormas.biodataBendahara }}
                        {{ormas.status}}
                        
                    {% comment %} </div>
                    <div class="all-steps" id="all-steps"> <span class="step"></span> <span class="step"></span> <span class="step"></span> <span class="step"></span> <span class="step"></span></div>
                </div> {% endcomment %}
            </div>
            </div>
            <button class="btn btn-dark">Simpan</button>
            {% comment %} <div id="nextprevious">
                <div style="float:right;"> <button class="btn-lg" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> <button class="btn-lg m-4" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button> </div>
            </div> {% endcomment %}
            </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}