{% extends 'base.html' %} {% block content %}

<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Data Ormas</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Data Ormas Accepted</h4>
              <div class="card-header-action">
                <form>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="myInput"
                      placeholder="Search"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <a class="btn btn-success" href="{% url 'export_data' %}"
                  >Export Data</a
                >
                <table class="table datatable" id="movie">
                  <thead>
                    <tr>
                      <th scope="col">Nama Ormas</th>
                      <th scope="col">Jenis Ormas</th>
                      <th scope="col">Bidang Ormas</th>
                      <th scope="col">Alamat</th>
                      <th scope="col">Bukti Alamat</th>
                      <th scope="col">Kelurahan</th>
                      <th scope="col">Kecamatan</th>
                      <th scope="col">Kabupaten</th>
                      <th scope="col">Nama Notaris</th>
                      <th scope="col">Nomor Notaris</th>
                      <th scope="col">SK Terdaftar</th>
                      <th scope="col">SK Pengurus</th>
                      <th scope="col">Nama Ketua</th>
                      <th scope="col">TTL Ketua</th>
                      <th scope="col">No Telepon Ketua</th>
                      <th scope="col">Biodata Ketua</th>
                      <th scope="col">Nama Sekretaris</th>
                      <th scope="col">TTL Sekretaris</th>
                      <th scope="col">No Telepon Sekretaris</th>
                      <th scope="col">Biodata Sekretaris</th>
                      <th scope="col">Nama Bendahara</th>
                      <th scope="col">TTL Bendahara</th>
                      <th scope="col">No Telepon Bendahara</th>
                      <th scope="col">Biodata Bendahara</th>
                      <th scope="col">Status</th>
                      <th scope="col">Opsi</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    {% for ormas in ormas %}
                    <tr>
                      <td>{{ ormas.nama }}</td>
                      <td>{{ ormas.unsur }}</td>
                      <td>{{ ormas.bidang }}</td>
                      <td>{{ ormas.alamat }}</td>
                      <td>
                        <a href="{{ ormas.buktiAlamat.url }}">Review</a>
                      </td>
                      <td>{{ ormas.desa }}</td>
                      <td>{{ ormas.kecamatan }}</td>
                      <td>{{ ormas.kabupaten }}</td>
                      <td>{{ ormas.namaNotaris }}</td>
                      <td>{{ ormas.noNotaris }}</td>
                      <td>
                        <a href="{{ ormas.skTerdaftar.url }}">Review</a>
                      </td>
                      <td>
                        <a href="{{ ormas.skPengurus.url }}">Review</a>
                      </td>

                      <td>{{ ormas.namaKetua }}</td>
                      <td>{{ ormas.ttlKetua }}</td>
                      <td>{{ ormas.noKetua }}</td>
                      <td>
                        <a href="{{ ormas.biodataKetua.url }}">Review</a>
                      </td>

                      <td>{{ ormas.namaSekretaris }}</td>
                      <td>{{ ormas.ttlSekretaris }}</td>
                      <td>{{ ormas.noSekretaris }}</td>
                      <td>
                        <a href="{{ ormas.biodataSekretaris.url }}">Review</a>
                      </td>

                      <td>{{ ormas.namaBendahara }}</td>
                      <td>{{ ormas.ttlBendahara }}</td>
                      <td>{{ ormas.noBendahara }}</td>
                      <td>
                      <a href="{{ ormas.biodataBendahara.url }}">Review</a>
                      </td>
                      {% if ormas.status == '0' %}
                      <td>Review</td>
                      {% elif ormas.status == '1' %}
                      <td>Accepted</td>
                      {% endif %}
                      <td>
                        <a
                          href="{% url 'edit_ormas' ormas.id %}"
                          class="btn btn-secondary"
                          >Edit</a
                        >
                        <a
                          href="{% url 'hapus_ormas' ormas.id %}"
                          class="btn btn-danger"
                          onclick="return confirm('Apakah anda yakin ingin menghapus data ini?');"
                          >Hapus</a
                        >
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="container">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link paginate" id="previous" href="#"
                          >Previous</a
                        >
                      </li>
                      <li class="page-item">
                        <a class="page-link paginate" id="next" href="#"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Data Ormas Review</h4>
              <div class="card-header-action">
                <form>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="myInput"
                      placeholder="Search"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Nama Ormas</th>
                      <th scope="col">Jenis Ormas</th>
                      <th scope="col">Bidang Ormas</th>
                      <th scope="col">Alamat</th>
                      <th scope="col">Bukti Alamat</th>
                      <th scope="col">Kelurahan</th>
                      <th scope="col">Kecamatan</th>
                      <th scope="col">Kabupaten</th>
                      <th scope="col">Nama Notaris</th>
                      <th scope="col">Nomor Notaris</th>
                      <th scope="col">SK Terdaftar</th>
                      <th scope="col">SK Pengurus</th>
                      <th scope="col">Nama Ketua</th>
                      <th scope="col">TTL Ketua</th>
                      <th scope="col">No Telepon Ketua</th>
                      <th scope="col">Biodata Ketua</th>
                      <th scope="col">Nama Sekretaris</th>
                      <th scope="col">TTL Sekretaris</th>
                      <th scope="col">No Telepon Sekretaris</th>
                      <th scope="col">Biodata Sekretaris</th>
                      <th scope="col">Nama Bendahara</th>
                      <th scope="col">TTL Bendahara</th>
                      <th scope="col">No Telepon Bendahara</th>
                      <th scope="col">Biodata Bendahara</th>
                      <th scope="col">Status</th>
                      <th scope="col">Opsi</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    {% for unverormas in unverormas %}
                    <tr>
                      <td>{{ unverormas.nama }}</td>
                      <td>{{ unverormas.unsur }}</td>
                      <td>{{ unverormas.bidang }}</td>
                      <td>{{ unverormas.alamat }}</td>
                      <td>
                        <a href="{{ unverormas.buktiAlamat.url }}">Review</a>
                      </td>
                      <td>{{ unverormas.desa }}</td>
                      <td>{{ unverormas.kecamatan }}</td>
                      <td>{{ unverormas.kabupaten }}</td>
                      <td>{{ unverormas.namaNotaris }}</td>
                      <td>{{ unverormas.noNotaris }}</td>
                      <td>
                        <a href="{{ unverormas.skTerdaftar.url }}">Review</a>
                      </td>
                      <td>
                        <a href="{{ unverormas.skPengurus.url }}">Review</a>
                      </td>
                      <td>{{ unverormas.namaKetua }}</td>
                      <td>{{ unverormas.ttlKetua }}</td>
                      <td>{{ unverormas.noKetua }}</td>
                      <td>
                        <a href="{{ unverormas.biodataKetua.url }}">Review</a>
                      </td>
                      <td>{{ unverormas.namaSekretaris }}</td>
                      <td>{{ unverormas.ttlSekretaris }}</td>
                      <td>{{ unverormas.noSekretaris }}</td>
                      <td>
                        <a href="{{ unverormas.biodataSekretaris.url }}">Review</a>
                      </td>

                      <td>{{ unverormas.namaBendahara }}</td>
                      <td>{{ unverormas.ttlBendahara }}</td>
                      <td>{{ unverormas.noBendahara }}</td>
                      <td>
                        <a href="{{ unverormas.biodataBendahara.url }}">Review</a>
                      </td>
                      {% if unverormas.status == '0' %}
                      <td>Review</td>
                      {% elif unverormas.status == '1' %}
                      <td>Accepted</td>
                      {% endif %}
                      <td>
                        <a
                          href="{% url 'edit_ormas' unverormas.id %}"
                          class="btn btn-warning"
                          >Review</a
                        >
                        <a
                          href="{% url 'hapus_ormas' unverormas.id %}"
                          class="btn btn-danger"
                          onclick="return confirm('Apakah anda yakin ingin menghapus data ini?');"
                          >Hapus</a
                        >
                        <a
                          href="{% url 'publish_ormas' unverormas.id %}"
                          class="btn btn-success"
                          >Accepted</a
                        >
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="container">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link paginate" id="previous" href="#"
                          >Previous</a
                        >
                      </li>
                      <li class="page-item">
                        <a class="page-link paginate" id="next" href="#"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
</div>
