{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script type="text/javascript"
        src="https://code.jquery.com/jquery-3.5.1.js">
        </script>
        <link rel="icon" href="{% static 'img/logo.png' %}">
        <!-- Datatable plugin JS library file -->
        <script type="text/javascript" src=
      "https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
        </script>
    <title>e-Ormas</title>
</head>

<body class="main">    
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            <div class="justify-content-start mx-4">
              <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'img/logo.png' %}"><br>Dashboard Informasi dan Layanan Data Organisasi Masyarakat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="justify-content-end mx-4">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="nav-item active text-center">
                          <a class="nav-link text-white h6" data-toggle="collapse" href="{% url 'dashboard' %}"><i class="fa fa-home fa-2x"></i><br>Dashboard</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link  text-white h6" href="{% url 'ormas' %}"><i class="fa fa-table fa-2x"></i><br>Data Ormas</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link text-white h6" href="{% url 'grafik' %}"><i class="fa fa-bar-chart fa-2x"></i><br>Grafik</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link text-white h6" href="{% url 'galeri_view' %}"><i class="fa fa-file-image-o fa-2x"></i><br>Galeri</a>
                      </li>
                  </ul>
                  <span class="navbar-text">
                      <a href="{% url 'login' %}" class="btn-link text-white h6"><i class="fa fa-sign-in fa-2x"></i> <br> Masuk</a>
                  </span>
              </div>
            <div>
        </div>
    </nav>
 
    {% block content %}

    {% endblock %}

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase text-white">e-Ormas</h5>
          <p class="text-white">Aplikasi pendataan ormas bakesbangpol kabupaten Bondowoso</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase text-white">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase text-white">Links</h5>
          <ul class="list-unstyled text-white">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!"class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!"class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!"class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center text-white py-3 bg-primary">© 2022 Copyright testing</div>  
</footer>
  <!-- Footer -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <script src="{% static 'assets/js/Chart.js'%}"></script>
        <script src="{% static 'assets/js/Chart.min.js'%}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>

        <script>
            function killCopy(e){
                return false;
            }
            function reEnable(){
                return true;
            }
            document.onselectstart=new Function ("return false");
            if (window.sidebar){
                document.onmousedown=killCopy;
                document.onclick=reEnable;
            }
        </script>
</body>

</html>