{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>E-Ormas</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assetss/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assetss/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'assetss/css/custom.css' %}">
</head>

<body class="layout-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="#" width="130" height="50" class=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link js-scroll-trigger"  href="{% url 'dashboard' %}">Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data Ormas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'ormas' %}">Data Ormas</a>
                        <a class="dropdown-item" href="{% url 'ormas_uns' %}">Data Ormas(Unsur)</a>
                        <a class="dropdown-item" href="{% url 'ormas_ds' %}">Data Ormas(Desa)</a>
                        <a class="dropdown-item" href="{% url 'ormas_kec' %}">Data Ormas(Kecamatan)</a>
                        <a class="dropdown-item" href="{% url 'ormas_kab' %}">Data Ormas(Kabupaten)</a>
                     </div>
                    <li class="nav-item active">
                        <a class="nav-link js-scroll-trigger" href="{% url 'grafik' %}">Grafik</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link js-scroll-trigger" href="{% url 'galeri_view' %}">Galeri</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link js-scroll-trigger" href="#Dokumentasi">Informasi</a>
                  </li>
                </ul>
                <span class="navbar-text">
                    <a href="/login" class="btn btn-warning shadow">Login</a>
                </span>
            </div>
        </div>
    </nav>
<br><br><br><br><br><br>
    {% block content %}

    {% endblock %}


  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{% static 'assetss/js/stisla.js' %}"></script>


  <!-- Template JS File -->
  <script src="{% static 'assetss/js/scripts.js' %}" }></script>
  <script src="{% static 'assetss/js/custom.js' %}"></script>
  <script src="{% static 'assetss/js/chart.min.js' %}"></script>

  <!-- Page Specific JS File -->
  <!-- <script src="{% static 'assetss/js/page/index-0.js' %}"></script> -->
  <!-- <script src="{% static 'assetss/js/page/bootstrap.modal.js' %}"></script> -->
  <!-- <script src="{% static 'assetss/js/jquery.js' %}"></script> -->
  <!-- <script src="{% static 'assetss/js/bootstrap.min.js' %}"></script> -->
</body>

</html>