.main{
    background-color: #f1f6fa;
    font-family: 'Poppins';
    padding-top: 73px;
}

/* Bagian Card */

.card {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.card .card-header{
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    text-align: justify;
}

.accordion {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.accordion .accordion-body {
    font-size: 14px;
    text-align: justify;
}

/*  */

.gmbr {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.navbar {
    background-color: #1565c0;
}

.page-footer{
    background-color: #1565c0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.running-text{
    color:#1565c0;
}

.footer-copyright{
    background-color:#1e88e5;
}

.main-desc h1 {
    border-left: 4px solid #1565c0;
    padding-left: 20px;
    color: #003077;
}

.main-desc p{
    font-size: 20px;
    word-spacing: 10px;
    color: #374c6b;
}

.navbar .nav-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.navbar .nav-link:hover {
    color: white;
    border-bottom: 3px solid white;
}


.navbar .nav-link.active {
    border-bottom: 3px solid white;
}

.container-box{
    margin-top: 50px;
    margin-bottom: 75px;
}

.judul-card {
    text-align: center;
    padding-bottom: 20px;
}

.text-content {
    padding-left: 8rem;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

a:hover {
    text-decoration: none !important;
}

.my-float {
    margin-top: 18px;
}

.my-float:hover {
    color: white;
}

.banner {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.isi-konten {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}


.box {
    background-color: #e3f2fd;
    padding: 20px;
}

.desc {
    margin-bottom: 5rem;
}

.box h2 {
    color: #90caf9;
}

.box-content{
    border-color: #0d47a1;
    border-style: double;
    border-width: 5px;
    text-align: center;
    background-color: #90caf9;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
}

.box-content p {
    margin: 0;
    color: #003077;
}

.desc-text p {
    text-size-adjust: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f2f7ff;
}

.desc-title h3 {
    color: #e3f2fd;
    border-bottom: 4px solid #90caf9;
    display: inline-block;
}

.description-text p {
    text-size-adjust: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #003077;
}

.description-title h3 {
    color: #003077;
    border-bottom: 4px solid #1565c0;
    display: inline-block;
}

.cards-box {
    background-color: #90caf9;
}

.boxs {
    background-color: #1565c0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bi-pic {
    width: 100%;
    height: 200px;
}

.galeri-box {
    background-color: #fcfdff;
    height: 350px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 15px;
}

.gmbr {
    border-radius: 8px;
}

.ver-col {
    /* Prevent vertical gaps */
    line-height: 3;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
  }

  body {
    background: #eee
}

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa
}

input.invalid {
    background-color: #ffdddd
}

.tab {
    display: none
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

#prevBtn {
    background-color: #bbbbbb
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    background-color: #4CAF50
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%
}

.container:hover input~.checkmark {
    background-color: #ccc
}

.container input:checked~.checkmark {
    background-color: #2196F3
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.container input:checked~.checkmark:after {
    display: block
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white
}
/* CSS HEX
--alice-blue: #e3f2fdff;
--uranian-blue: #bbdefbff;
--light-sky-blue: #90caf9ff;
--blue-jeans: #64b5f6ff;
--blue-jeans-2: #42a5f5ff;
--tufts-blue: #2196f3ff;
--bleu-de-france: #1e88e5ff;
--bright-navy-blue: #1976d2ff;
--denim: #1565c0ff;
--cobalt-blue: #0d47a1ff; */

