{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>E-Ormas</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assetss/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assetss/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'assetss/css/custom.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'assetss/css/bootstrap.min.css' %}"> -->
</head>

<body>
  <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
      <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
          <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
        </ul>
      </form>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          <div class="d-sm-none d-lg-inline-block">{{ request.user}}</div></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-title">Ujang Maman</div>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item has-icon text-danger">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>
    
  <div class="main-sidebar">
      <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
              <a href="#">E-Ormas</a>
          </div>
          <ul class="sidebar-menu">
            {% comment %} <li class="nav-item dropdown active">
              <a href="{% url 'tambah_ormas' %}" class="nav-link">
                <i class="fas fa-address-card"></i>
                <span>Daftar</span>
              </a>
            </li> {% endcomment %}
              {% if request.user.is_superuser %}
              <li class="nav-item dropdown active">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i><span>Tables</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'data_ormas' %}">Data Ormas</a></li>
                  <li><a class="nav-link" href="{% url 'jml_ormas_uns' %}">Data Ormas(Uns)</a></li>
                  <li><a class="nav-link" href="{% url 'jml_ormas_ds' %}">Data Ormas(Ds)</a></li>
                  <li><a class="nav-link" href="{% url 'jml_ormas_kec' %}">Data Ormas(Kec)</a></li>
                  <li><a class="nav-link" href="{% url 'jml_ormas_kab' %}">Data Ormas(Kab)</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown active">
                <a href="{% url 'galeri' %}" class="nav-link">
                  <i class="fas fa-square"></i>
                  <span>Galeri</span>
                </a>
              </li>
              <li class="nav-item dropdown active">
                <a href="{% url 'informasi' %}" class="nav-link">
                  <i class="fas fa-exclamation"></i>
                  <span>Info</span>
                </a>
              </li>
              <li class="nav-item dropdown active">
                <a href="{% url 'daftar_user' %}" class="nav-link">
                  <i class="fas fa-columns"></i>
                  <span>Daftar User</span>
                </a>
              </li>
              <li class="nav-item dropdown active">
                <a href="{% url 'register' %}" class="nav-link">
                  <i class="fas fa-user"></i>
                  <span>Register Account</span>
                </a>
              </li>
              {% endif %}
              <li class="nav-item dropdown active">
                <a href="{% url 'logout' %}" class="nav-link">
                  <i class="fas fa-arrow-alt-circle-right"></i>
                  <span>Logout</span>
                </a>
              </li>
          </ul>
      </aside>
  </div>

    {% block content %}
    {% endblock %}
    <footer class="main-footer">
      <div class="footer-left">
        Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
      </div>
      <div class="footer-right">
        2.3.0
      </div>
    </footer>
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>

      <script>
 
        $(function () {
            // Selectors for future use
            var myTable = "#movie";
            var myTableBody = myTable + " tbody";
            var myTableRows = myTableBody + " tr";
            var myTableColumn = myTable + " th";
         
            // Starting table state
            function initTable() {
                $(myTableBody).attr("data-pageSize", 10);
                $(myTableBody).attr("data-firstRecord", 0);
                $('#previous').hide();
                $('#next').show();
         
         
                // Start the pagination
                paginate(parseInt($(myTableBody).attr("data-firstRecord"), 10),
                         parseInt($(myTableBody).attr("data-pageSize"), 10));
            }
         
         
            // Table sorting function
            function sortTable(table, column, order) {
               
         
            }
         
            // Heading click
            $(myTableColumn).click(function () {
                
                // Start the pagination
                paginate(parseInt($(myTableBody).attr("data-firstRecord"), 10),
                         parseInt($(myTableBody).attr("data-pageSize"), 10));
            });
         
            // Pager click
            $("a.paginate").click(function (e) {
                e.preventDefault();
                var tableRows = $(myTableRows);
                var tmpRec = parseInt($(myTableBody).attr("data-firstRecord"), 10);
                var pageSize = parseInt($(myTableBody).attr("data-pageSize"), 10);
         
                // Define the new first record
                if ($(this).attr("id") == "next") {
                    tmpRec += pageSize;
                } else {
                    tmpRec -= pageSize;
                }
                // The first record is < of 0 or > of total rows
                if (tmpRec < 0 || tmpRec > tableRows.length) return
         
                $(myTableBody).attr("data-firstRecord", tmpRec);
                paginate(tmpRec, pageSize);
            });
         
            // Paging function
            var paginate = function (start, size) {
                var tableRows = $(myTableRows);
                var end = start + size;
                // Hide all the rows
                tableRows.hide();
                // Show a reduced set of rows using a range of indices.
                tableRows.slice(start, end).show();
                // Show the pager
                $(".paginate").show();
                // If the first row is visible hide prev
                if (tableRows.eq(0).is(":visible")) $('#previous').hide();
                // If the last row is visible hide next 
                if (tableRows.eq(tableRows.length - 1).is(":visible")) $('#next').hide();
            }

            // Table starting state
            initTable();
        });
    
    
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{% static 'assetss/js/stisla.js' %}"></script>


  <!-- Template JS File -->
  <script src="{% static 'assetss/js/scripts.js' %}" }></script>
  <script src="{% static 'assetss/js/custom.js' %}"></script>
  <script src="{% static 'assetss/js/chart.min.js' %}"></script>


  <!-- Page Specific JS File -->
  <!-- <script src="{% static 'assetss/js/page/index-0.js' %}"></script> -->
  <!-- <script src="{% static 'assetss/js/page/bootstrap.modal.js' %}"></script> -->
  <!-- <script src="{% static 'assetss/js/jquery.js' %}"></script> -->
  <!-- <script src="{% static 'assetss/js/bootstrap.min.js' %}"></script> -->
</body>

</html>